# Introduction:

This ipynb file is used to build a model for a time series classification problem. 
<br>

We will start by : 
<br>
1- Importing the training datasets.
<br>
2- Merge the two datasets 
<br>
3- Add new features (Mean, median, etc...)

In [1]:
import pandas as pd
dfX= pd.read_csv("inputTrain.csv")
dfY = pd.read_csv("StepOne_LabelTrain.csv")

In [5]:
dfX['mean'] = dfX.iloc[:, 2:].mean(axis=1)

dfX['median'] = dfX.iloc[:, 2:].median(axis=1)

# dfC = pd.merge(dfX, dfY, on='Index')
# dfC = dfC.drop(["House_id_y"],axis=1)

,Index,House_id,TimeStep_0,TimeStep_1,TimeStep_2,TimeStep_3,TimeStep_4,TimeStep_5,TimeStep_6,TimeStep_7,...,TimeStep_2151,TimeStep_2152,TimeStep_2153,TimeStep_2154,TimeStep_2155,TimeStep_2156,TimeStep_2157,TimeStep_2158,TimeStep_2159,mean
0,0,1,180.000000,180.0,180.0,181.0,180.0,180.0,180.000000,181.0,...,238.0,238.0,236.0,238.333333,238.333333,236.0,234.0,234.0,235.0,274.698673
1,1,1,2437.000000,2426.0,2148.0,645.0,642.0,642.0,2256.666667,2436.0,...,233.0,233.0,236.0,236.000000,236.000000,234.0,234.0,230.0,233.0,465.148851
2,2,1,232.000000,232.0,232.5,233.0,233.0,234.0,233.000000,233.0,...,182.0,181.0,180.0,182.000000,181.500000,181.0,180.0,180.0,180.0,212.365109
3,3,1,180.333333,181.0,180.0,184.0,181.0,180.0,183.000000,184.0,...,351.0,349.0,351.0,358.000000,349.000000,348.5,340.0,346.0,344.0,302.514088
4,4,1,344.000000,341.0,341.0,327.0,327.0,318.0,318.000000,313.0,...,238.0,238.0,235.0,235.000000,235.000000,233.0,233.0,235.0,233.0,223.518433
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10416,10416,16,275.000000,272.0,270.0,275.0,269.0,267.0,269.000000,268.5,...,282.5,278.0,278.0,278.000000,280.000000,281.0,280.0,280.0,281.0,345.169675
10417,10417,16,279.000000,283.5,281.0,281.0,277.0,281.5,283.000000,284.5,...,230.0,231.0,230.5,231.000000,230.000000,230.0,230.5,231.0,231.0,293.097871
10418,10418,16,229.000000,229.0,231.0,231.0,230.0,230.0,229.500000,230.0,...,231.0,234.0,231.0,233.000000,231.000000,231.5,231.0,230.5,231.0,256.748342
10419,10419,16,250.000000,247.0,247.0,249.0,246.0,246.5,246.000000,249.5,...,249.0,247.0,247.0,246.500000,249.000000,249.0,247.0,248.0,250.0,279.630649
10420,10420,16,249.000000,250.0,246.5,249.0,249.0,247.0,247.000000,246.0,...,371.5,364.0,375.0,378.000000,366.500000,376.0,367.0,353.0,361.0,274.738084