# Introduction:

This ipynb file is used to build a model for a time series classification problem. 
<br>

We will start by : 
<br>
1- Importing the training datasets.
<br>
2- Merge the two datasets 
<br>
3- Add new features (Mean, median, etc...)

In [30]:
import pandas as pd
dfX= pd.read_csv("InputTrain.csv")
dfY = pd.read_csv("StepOne_LabelTrain.csv")

In [33]:
dfX['mean'] = dfX.iloc[:, 2:].mean(axis=1)

dfX['median'] = dfX.iloc[:, 2:].median(axis=1)

dfX['std'] = dfX.iloc[:, 2:].std(axis=1)

dfX['var'] = dfX.iloc[:, 2:].var(axis=1)

dfX

# dfC = pd.merge(dfX, dfY, on='Index')
# dfC = dfC.drop(["House_id_y"],axis=1)

,Index,House_id,TimeStep_0,TimeStep_1,TimeStep_2,TimeStep_3,TimeStep_4,TimeStep_5,TimeStep_6,TimeStep_7,...,TimeStep_2154,TimeStep_2155,TimeStep_2156,TimeStep_2157,TimeStep_2158,TimeStep_2159,mean,median,std,var
0,0,1,180.000000,180.0,180.0,181.0,180.0,180.0,180.000000,181.0,...,238.333333,238.333333,236.0,234.0,234.0,235.0,329.898824,200.0,2587.796850,6.699048e+06
1,1,1,2437.000000,2426.0,2148.0,645.0,642.0,642.0,2256.666667,2436.0,...,236.000000,236.000000,234.0,234.0,230.0,233.0,587.982375,300.0,5764.617100,3.324319e+07
2,2,1,232.000000,232.0,232.5,233.0,233.0,234.0,233.000000,233.0,...,182.000000,181.500000,181.0,180.0,180.0,180.0,213.470220,196.0,75.066217,5.631751e+03
3,3,1,180.333333,181.0,180.0,184.0,181.0,180.0,183.000000,184.0,...,358.000000,349.000000,348.5,340.0,346.0,344.0,335.552465,253.0,1557.978664,2.427986e+06
4,4,1,344.000000,341.0,341.0,327.0,327.0,318.0,318.000000,313.0,...,235.000000,235.000000,233.0,233.0,235.0,233.0,223.965329,220.0,44.826987,2.008137e+03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10416,10416,16,275.000000,272.0,270.0,275.0,269.0,267.0,269.000000,268.5,...,278.000000,280.000000,281.0,280.0,280.0,281.0,381.751754,289.5,1724.114337,2.973398e+06
10417,10417,16,279.000000,283.5,281.0,281.0,277.0,281.5,283.000000,284.5,...,231.000000,230.000000,230.0,230.5,231.0,231.0,294.674727,288.0,98.277197,9.651167e+03
10418,10418,16,229.000000,229.0,231.0,231.0,230.0,230.0,229.500000,230.0,...,233.000000,231.000000,231.5,231.0,230.5,231.0,257.344830,232.0,51.353510,2.635131e+03
10419,10419,16,250.000000,247.0,247.0,249.0,246.0,246.5,246.000000,249.5,...,246.500000,249.000000,249.0,247.0,248.0,250.0,298.893837,252.0,919.071742,8.448665e+05
10420,10420,16,249.000000,250.0,246.5,249.0,249.0,247.0,247.000000,246.0,...,378.000000,366.500000,376.0,367.0,353.0,361.0,278.985342,253.0,222.285245,4.939702e+04