In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas  as pd
dfxTest= pd.read_csv("/content/drive/MyDrive/M1 DS/Data_step2/dfTest_transposed_notNormalized.csv")
y1= pd.read_csv("/content/drive/MyDrive/M1 DS/Data_step2/Y1_transposed.csv")
y2= pd.read_csv("/content/drive/MyDrive/M1 DS/Data_step2/Y2_transposed.csv")
y3= pd.read_csv("/content/drive/MyDrive/M1 DS/Data_step2/Y3_transposed.csv")
y4= pd.read_csv("/content/drive/MyDrive/M1 DS/Data_step2/Y4_transposed.csv")
y5= pd.read_csv("/content/drive/MyDrive/M1 DS/Data_step2/Y5_transposed.csv")

In [ ]:
y = pd.DataFrame()
y["Washing Machine"] = y1.drop('Unnamed: 0',axis = 1)
y["Dishwasher"] = y2.drop('Unnamed: 0',axis = 1)
y["Tumble Dryer"] = y3.drop('Unnamed: 0',axis = 1)
y["Microwave"] = y4.drop('Unnamed: 0',axis = 1)
y["Kettle"] = y5.drop('Unnamed: 0',axis = 1)

In [ ]:
import pandas as pd
x = pd.read_csv("/content/drive/MyDrive/M1 DS/Data_step2/x_transposed_notNormalized.csv")

x = x.drop('Unnamed: 0',axis = 1)
x['consumption_previous_day'] = x['0'].shift(1)
x['consumption_2previous_days'] = x['0'].shift(2)
x['consumption_3previous_days'] = x['0'].shift(3)
x['consumption_4previous_days'] = x['0'].shift(4)
#don't delete the comments in this part 

# x['consumption_5previous_days'] = x['0'].shift(5)
# x['consumption_6previous_days'] = x['0'].shift(6)





x.loc[0, 'consumption_previous_day'] = x.consumption_previous_day[x.consumption_previous_day.notnull()].values[0]
x.loc[0, 'consumption_2previous_days'] = x.consumption_2previous_days[x.consumption_2previous_days.notnull()].values[0]
x.loc[1, 'consumption_2previous_days'] = x.consumption_2previous_days[x.consumption_2previous_days.notnull()].values[1]
x.loc[0, 'consumption_3previous_days'] = x.consumption_3previous_days[x.consumption_3previous_days.notnull()].values[0]
x.loc[1, 'consumption_3previous_days'] = x.consumption_3previous_days[x.consumption_3previous_days.notnull()].values[1]
x.loc[2, 'consumption_3previous_days'] = x.consumption_3previous_days[x.consumption_3previous_days.notnull()].values[2]


x.loc[0, 'consumption_4previous_days'] = x.consumption_4previous_days[x.consumption_4previous_days.notnull()].values[0]
x.loc[1, 'consumption_4previous_days'] = x.consumption_4previous_days[x.consumption_4previous_days.notnull()].values[1]
x.loc[2, 'consumption_4previous_days'] = x.consumption_4previous_days[x.consumption_4previous_days.notnull()].values[2]
x.loc[3, 'consumption_4previous_days'] = x.consumption_4previous_days[x.consumption_4previous_days.notnull()].values[3]



# x.loc[0, 'consumption_5previous_days'] = x.consumption_5previous_days[x.consumption_5previous_days.notnull()].values[0]
# x.loc[1, 'consumption_5previous_days'] = x.consumption_5previous_days[x.consumption_5previous_days.notnull()].values[1]
# x.loc[2, 'consumption_5previous_days'] = x.consumption_5previous_days[x.consumption_5previous_days.notnull()].values[2]
# x.loc[3, 'consumption_5previous_days'] = x.consumption_5previous_days[x.consumption_5previous_days.notnull()].values[3]
# x.loc[4, 'consumption_5previous_days'] = x.consumption_5previous_days[x.consumption_5previous_days.notnull()].values[4]


# x.loc[0, 'consumption_6previous_days'] = x.consumption_6previous_days[x.consumption_6previous_days.notnull()].values[0]
# x.loc[1, 'consumption_6previous_days'] = x.consumption_6previous_days[x.consumption_6previous_days.notnull()].values[1]
# x.loc[2, 'consumption_6previous_days'] = x.consumption_6previous_days[x.consumption_6previous_days.notnull()].values[2]
# x.loc[3, 'consumption_6previous_days'] = x.consumption_6previous_days[x.consumption_6previous_days.notnull()].values[3]
# x.loc[4, 'consumption_6previous_days'] = x.consumption_6previous_days[x.consumption_6previous_days.notnull()].values[4]
# x.loc[4, 'consumption_6previous_days'] = x.consumption_6previous_days[x.consumption_6previous_days.notnull()].values[4]
# x.loc[5, 'consumption_6previous_days'] = x.consumption_6previous_days[x.consumption_6previous_days.notnull()].values[5]

In [ ]:
# from sklearn.impute import KNNImputer
x["rolling_mean"] = x['0'].rolling(3).mean()
x["rolling_mean5"] = x['0'].rolling(5).mean()

x["rolling_med"] = x['0'].rolling(3).median()
x["rolling_std"] = x['0'].rolling(3).std()

x['rolling_mean'] = x['rolling_mean'].interpolate(method='linear', limit_direction='both')
x['rolling_mean5'] = x['rolling_mean5'].interpolate(method='linear', limit_direction='both')

x['rolling_med'] = x['rolling_med'].interpolate(method='linear', limit_direction='both')
x['rolling_std'] = x['rolling_std'].interpolate(method='linear', limit_direction='both')

# imputer = KNNImputer(n_neighbors=30)
# x['rolling_mean'] = imputer.fit_transform(x[['rolling_mean']])
# x['rolling_mean5'] = imputer.fit_transform(x[['rolling_mean5']])


# x['rolling_med'] = imputer.fit_transform(x[['rolling_med']])
# x['rolling_std'] = imputer.fit_transform(x[['rolling_std']])

In [ ]:
x

,0,consumption_previous_day,consumption_2previous_days,consumption_3previous_days,consumption_4previous_days,consumption_5previous_days,consumption_6previous_days,rolling_mean,rolling_mean5,rolling_med,rolling_std
0,180.0,180.0,180.0,180.0,180.0,180.0,180.0,180.000000,180.2,180.0,0.000000
1,180.0,180.0,180.0,180.0,180.0,180.0,180.0,180.000000,180.2,180.0,0.000000
2,180.0,180.0,180.0,180.0,180.0,180.0,180.0,180.000000,180.2,180.0,0.000000
3,181.0,180.0,180.0,180.0,180.0,180.0,180.0,180.333333,180.2,180.0,0.577350
4,180.0,181.0,180.0,180.0,180.0,180.0,180.0,180.333333,180.2,180.0,0.577350
...,...,...,...,...,...,...,...,...,...,...,...
22509355,366.5,378.0,375.0,364.0,371.5,424.0,432.5,373.166667,371.0,375.0,5.965177
22509356,376.0,366.5,378.0,375.0,364.0,371.5,424.0,373.500000,371.9,376.0,6.144103
22509357,367.0,376.0,366.5,378.0,375.0,364.0,371.5,369.833333,372.5,367.0,5.346338
22509358,353.0,367.0,376.0,366.5,378.0,375.0,364.0,365.333333,368.1,367.0,11.590226
22509359,361.0,353.0,367.0,376.0,366.5,378.0,375.0,360.333333,364.7,361.0,7.023769

In [ ]:
x.to_csv("/content/drive/MyDrive/M1 DS/Data_step2/x_featured_6lags.csv")