In [1]:
import pandas as pd
x = pd.read_csv("../x_transposed_notNormalized.csv")
dfxTest= pd.read_csv("../dfTest_transposed_notNormalized.csv")

listI = [10,20,50,60,65,70,80,90,100,120,110]
for i in listI:
    x[f'consumption_lag_{i}'] = x['0'].shift(i)
    dfxTest[f'consumption_lag_{i}'] = dfxTest['0'].shift(i)


# replace NaN values with previous non-NaN values
x = x.fillna(method='bfill')
dfxTest = dfxTest.fillna(method='bfill')
x = x.drop('Unnamed: 0',axis = 1)

dfxTest = dfxTest.drop('Unnamed: 0',axis = 1)

In [2]:
x['rolling_skewness20'] = x['0'].rolling(20).skew()
dfxTest['rolling_skewness20'] = dfxTest['0'].rolling(20).skew()
x['rolling_kurtosis20'] = x['0'].rolling(20).kurt()
dfxTest['rolling_kurtosis20'] = dfxTest['0'].rolling(20).kurt()

In [3]:
x["rolling_std2"] = x['0'].rolling(2).std()
x["rolling_std3"] = x['0'].rolling(3).std()

dfxTest["rolling_std2"] = dfxTest['0'].rolling(2).std()
dfxTest["rolling_std3"] = dfxTest['0'].rolling(3).std()

In [4]:
x['rolling_std2'] = x['rolling_std2'].interpolate(method='linear', limit_direction='both')
x['rolling_std3'] = x['rolling_std3'].interpolate(method='linear', limit_direction='both')
dfxTest['rolling_std2'] = dfxTest['rolling_std2'].interpolate(method='linear', limit_direction='both')
dfxTest['rolling_std3'] = dfxTest['rolling_std3'].interpolate(method='linear', limit_direction='both')

x['rolling_skewness20'] = x['rolling_skewness20'].interpolate(method='linear', limit_direction='both')

x['rolling_kurtosis20'] = x['rolling_kurtosis20'].interpolate(method='linear', limit_direction='both')

dfxTest['rolling_skewness20'] = dfxTest['rolling_skewness20'].interpolate(method='linear', limit_direction='both')

dfxTest['rolling_kurtosis20'] = dfxTest['rolling_kurtosis20'].interpolate(method='linear', limit_direction='both')

In [5]:
import numpy as np
from scipy.signal import argrelmax, argrelmin

def time_since_last_extreme(data, find_extreme_func):
    extreme_indices, = find_extreme_func(data)  # Unpack the tuple
    time_since_last_extreme = np.zeros_like(data)
    for idx in range(1, len(extreme_indices)):
        time_since_last_extreme[extreme_indices[idx-1]:extreme_indices[idx]] = np.arange(extreme_indices[idx] - extreme_indices[idx-1])
    time_since_last_extreme[extreme_indices[-1]:] = np.arange(len(data) - extreme_indices[-1])
    return time_since_last_extreme

x['time_since_last_max'] = time_since_last_extreme(x['0'].values, argrelmax)
x['time_since_last_min'] = time_since_last_extreme(x['0'].values, argrelmin)
dfxTest['time_since_last_max'] = time_since_last_extreme(dfxTest['0'].values, argrelmax)
dfxTest['time_since_last_min'] = time_since_last_extreme(dfxTest['0'].values, argrelmin)

In [6]:
x.to_csv('../x-LagIsTheOG.csv')

In [7]:
dfxTest.to_csv('../test-LagIsTheOG.csv')

In [11]:
y1= pd.read_csv("../Y1_transposed.csv")
y2= pd.read_csv("../Y2_transposed.csv")
y3= pd.read_csv("../Y3_transposed.csv")
y4= pd.read_csv("../Y4_transposed.csv")
y5= pd.read_csv("../Y5_transposed.csv")

In [13]:
y = pd.DataFrame()

In [15]:
y1

          Unnamed: 0    0
0                  0  0.0
1                  1  0.0
2                  2  0.0
3                  3  0.0
4                  4  0.0
...              ...  ...
22509355        2155  0.0
22509356        2156  0.0
22509357        2157  0.0
22509358        2158  0.0
22509359        2159  0.0

[22509360 rows x 2 columns]

In [21]:
y1 = y1.drop('Unnamed: 0',axis = 1)
y2 = y2.drop('Unnamed: 0',axis = 1)
y3 = y3.drop('Unnamed: 0',axis = 1)
y4 = y4.drop('Unnamed: 0',axis = 1)
y5 = y5.drop('Unnamed: 0',axis = 1)

In [24]:
y["Washing Machine"] = y1
y["Dishwasher"] = y2
y["Tumble Dryer"] = y3
y["Microwave"] = y4
y["Kettle"] = y5

In [26]:
y.drop('Unnamed: 0',axis=1).to_csv('../y_ready2.csv')