In [1]:
from google.colab import drive#On monte le drive pour charger les datasets depuis google drive (optionnel)
drive.mount('/content/gdrive/', force_remount=True)
%cd gdrive/MyDrive/

Mounted at /content/gdrive/
/content/gdrive/MyDrive

In [7]:
import pandas as pd

X = pd.read_csv("InputTrain.csv").iloc[:,2:]
Y1 = pd.read_csv("StepTwo_LabelTrain_WashingMachine.csv").iloc[:,2:]
Y2 = pd.read_csv("StepTwo_LabelTrain_Dishwasher.csv").iloc[:,2:]
Y3 = pd.read_csv("StepTwo_LabelTrain_TumbleDryer.csv").iloc[:,2:]
Y4 = pd.read_csv("StepTwo_LabelTrain_Microwave.csv").iloc[:,2:]
Y5 = pd.read_csv("StepTwo_LabelTrain_Kettle.csv").iloc[:,2:]
dfXTest = pd.read_csv("InputTest.csv").iloc[:,2:]

In [22]:
y1 = Y1.melt().iloc[:,1]
y2 = Y2.melt().iloc[:,1]
y3 = Y3.melt().iloc[:,1]
y4 = Y4.melt().iloc[:,1]
y5 = Y5.melt().iloc[:,1]

y= pd.DataFrame()
y["Washing Machine"] = y1
y["Dishwasher"] = y2
y["Tumble Dryer"] = y3
y["Microwave"] = y4
y["Kettle"] = y5
y

          Washing Machine  Dishwasher  Tumble Dryer  Microwave  Kettle
0                     0.0         0.0           0.0        0.0     0.0
1                     0.0         0.0           0.0        0.0     0.0
2                     0.0         0.0           0.0        0.0     0.0
3                     0.0         0.0           0.0        0.0     0.0
4                     0.0         0.0           0.0        0.0     0.0
...                   ...         ...           ...        ...     ...
22509355              0.0         0.0           0.0        0.0     0.0
22509356              0.0         0.0           0.0        0.0     0.0
22509357              0.0         0.0           0.0        0.0     0.0
22509358              0.0         0.0           0.0        0.0     0.0
22509359              0.0         0.0           0.0        0.0     0.0

[22509360 rows x 5 columns]

In [26]:
X=X.melt()

In [29]:
import re
def extract_numbers(text):
    numbers = re.findall(r'\d+', text)
    return int(''.join(numbers))

X['variable'] = X['variable'].apply(extract_numbers)
X

          variable        value
0                0   180.000000
1                0  2437.000000
2                0   232.000000
3                0   180.333333
4                0   344.000000
...            ...          ...
22509355      2159   281.000000
22509356      2159   231.000000
22509357      2159   231.000000
22509358      2159   250.000000
22509359      2159   361.000000

[22509360 rows x 2 columns]

In [30]:
X = X.rename(columns={'variable': 'Serie_number'})
X

          Serie_number        value
0                    0   180.000000
1                    0  2437.000000
2                    0   232.000000
3                    0   180.333333
4                    0   344.000000
...                ...          ...
22509355          2159   281.000000
22509356          2159   231.000000
22509357          2159   231.000000
22509358          2159   250.000000
22509359          2159   361.000000

[22509360 rows x 2 columns]

In [31]:
X.to_csv("Melted_Train")
y.to_csv("Melted_Fused_Labels")