In [3]:
import pandas as pd

X = pd.read_csv("InputTrain.csv").iloc[:,2:]
Y1 = pd.read_csv("StepTwo_LabelTrain_WashingMachine.csv").iloc[:,2:]
Y2 = pd.read_csv("StepTwo_LabelTrain_Dishwasher.csv").iloc[:,2:]
Y3 = pd.read_csv("StepTwo_LabelTrain_TumbleDryer.csv").iloc[:,2:]
Y4 = pd.read_csv("StepTwo_LabelTrain_Microwave.csv").iloc[:,2:]
Y5 = pd.read_csv("StepTwo_LabelTrain_Kettle.csv").iloc[:,2:]
dfXTest = pd.read_csv("InputTest.csv").iloc[:,2:]

In [4]:
from sklearn.preprocessing import StandardScaler
consumption_values = dfXTest.values
consumption_values = consumption_values.reshape(consumption_values.shape[0], -1)

# Remove the mean and scale the values to have unit variance
scaler = StandardScaler()
normalized_consumption_values = scaler.fit_transform(consumption_values)
dfXTest.iloc[:, 0:] = normalized_consumption_values.reshape(normalized_consumption_values.shape[0], -1)

In [5]:
from sklearn.preprocessing import StandardScaler
consumption_values = X.values
consumption_values = consumption_values.reshape(consumption_values.shape[0], -1)

# Remove the mean and scale the values to have unit variance
scaler = StandardScaler()
normalized_consumption_values = scaler.fit_transform(consumption_values)
X.iloc[:, 0:] = normalized_consumption_values.reshape(normalized_consumption_values.shape[0], -1)

In [6]:
y1 = Y1.melt().iloc[:,1]
y1.head(2159).value_counts()

0.0    2130
1.0      29
Name: value, dtype: int64

In [12]:
y1 = pd.DataFrame()

# Iterate over each row of the original dataframe and append the transposed row to the new dataframe
for i in range(len(Y1)):
    y1 = pd.concat([y1, pd.DataFrame(Y1.iloc[i].values.reshape(1, -1).T)])

In [17]:
y2 = pd.DataFrame()

# Iterate over each row of the original dataframe and append the transposed row to the new dataframe
for i in range(len(Y1)):
    y2 = pd.concat([y2, pd.DataFrame(Y2.iloc[i].values.reshape(1, -1).T)])

In [14]:
y3 = pd.DataFrame()

# Iterate over each row of the original dataframe and append the transposed row to the new dataframe
for i in range(len(Y3)):
    y3 = pd.concat([y3, pd.DataFrame(Y3.iloc[i].values.reshape(1, -1).T)])

In [15]:
y4 = pd.DataFrame()

# Iterate over each row of the original dataframe and append the transposed row to the new dataframe
for i in range(len(Y4)):
    y4 = pd.concat([y4, pd.DataFrame(Y4.iloc[i].values.reshape(1, -1).T)])

In [16]:
y5 = pd.DataFrame()

# Iterate over each row of the original dataframe and append the transposed row to the new dataframe
for i in range(len(Y5)):
    y5 = pd.concat([y5, pd.DataFrame(Y5.iloc[i].values.reshape(1, -1).T)])

In [18]:
x = pd.DataFrame()

# Iterate over each row of the original dataframe and append the transposed row to the new dataframe
for i in range(len(X)):
    x = pd.concat([x, pd.DataFrame(X.iloc[i].values.reshape(1, -1).T)])

In [19]:
y1.to_csv("Y1_transposed")
y2.to_csv("Y2_transposed")
y3.to_csv("Y3_transposed")
y4.to_csv("Y4_transposed")
y5.to_csv("Y5_transposed")
x.to_csv("x_transposed")

In [20]:
dfTest = pd.DataFrame()

# Iterate over each row of the original dataframe and append the transposed row to the new dataframe
for i in range(len(dfXTest)):
    dfTest = pd.concat([dfTest, pd.DataFrame(dfXTest.iloc[i].values.reshape(1, -1).T)])

In [21]:
dfTest.to_csv("dfTest_transposed")

In [22]:
X = pd.read_csv("InputTrain.csv").iloc[:,2:]
dfXTest = pd.read_csv("InputTest.csv").iloc[:,2:]

In [23]:
x = pd.DataFrame()

# Iterate over each row of the original dataframe and append the transposed row to the new dataframe
for i in range(len(X)):
    x = pd.concat([x, pd.DataFrame(X.iloc[i].values.reshape(1, -1).T)])

In [24]:
dfTest = pd.DataFrame()

# Iterate over each row of the original dataframe and append the transposed row to the new dataframe
for i in range(len(dfXTest)):
    dfTest = pd.concat([dfTest, pd.DataFrame(dfXTest.iloc[i].values.reshape(1, -1).T)])

In [25]:
x.to_csv("x_transposed_notNormalized.csv")
dfTest.to_csv("dfTest_transposed_notNormalized.csv")

In [47]:
x = pd.read_csv("x_transposed_notNormalized.csv")
x = x.drop('Unnamed: 0',axis = 1)
x

              0
0         180.0
1         180.0
2         180.0
3         181.0
4         180.0
...         ...
22509355  366.5
22509356  376.0
22509357  367.0
22509358  353.0
22509359  361.0

[22509360 rows x 1 columns]

In [51]:
x['consumption_previous_day'] = x['0'].shift(1)
x.loc[0, 'consumption_previous_day'] = x.consumption_previous_day[x.consumption_previous_day.notnull()].values[0]

In [52]:
x["rolling_mean"] = x['0'].rolling(3).mean()
x

              0  consumption_previous_day  rolling_mean
0         180.0                     180.0           NaN
1         180.0                     180.0           NaN
2         180.0                     180.0    180.000000
3         181.0                     180.0    180.333333
4         180.0                     181.0    180.333333
...         ...                       ...           ...
22509355  366.5                     378.0    373.166667
22509356  376.0                     366.5    373.500000
22509357  367.0                     376.0    369.833333
22509358  353.0                     367.0    365.333333
22509359  361.0                     353.0    360.333333

[22509360 rows x 3 columns]

In [53]:
from sklearn.impute import KNNImputer
imputer = KNNImputer(n_neighbors=2)
x['rolling_mean'] = imputer.fit_transform(x[['rolling_mean']])
x

              0  consumption_previous_day  rolling_mean
0         180.0                     180.0    493.976997
1         180.0                     180.0    493.976997
2         180.0                     180.0    180.000000
3         181.0                     180.0    180.333333
4         180.0                     181.0    180.333333
...         ...                       ...           ...
22509355  366.5                     378.0    373.166667
22509356  376.0                     366.5    373.500000
22509357  367.0                     376.0    369.833333
22509358  353.0                     367.0    365.333333
22509359  361.0                     353.0    360.333333

[22509360 rows x 3 columns]

In [54]:
import xgboost as xgb
from sklearn.metrics import average_precision_score
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(x,y1, test_size=0.4,random_state=42)

In [61]:


dtrain = xgb.DMatrix(X_train,label=y_train)
dtest = xgb.DMatrix(X_test,label=y_test)

model = xgb.XGBModel()
params = {
    'max_depth': 10,
    'eta': 0.1,
    'objective': 'binary:logistic',
    'eval_metric': 'error',
    'booster':'dart',
    'sample_type':'weighted',
    'normalize_type':'forest',
    'learning_rate':0.4,
    'tree_method':'hist',
    'n_jobs':500,
    'rate_drop':0.3,
    'skip_drop':0.2,

}

# Train model
evalist = [(dtrain, 'train'), (dtest, 'eval')]
model = xgb.train(params, dtrain,early_stopping_rounds=29,num_boost_round=1000,verbose_eval=29,evals=evalist)

preds = model.predict(dtest) #Predictions
y_test = y_test.astype(float)
optimal_num_boost_round = model.best_iteration

print("Precision = {}".format(average_precision_score(y_test.values, preds, average='macro')))
print("Precision = {}".format(average_precision_score(y_test.values, preds, average='weighted')))


#Precision = 0.25674527434942446 YANIS
#Precision = 0.4107742871167801 YANIS

[0]	train-error:0.02762	eval-error:0.02763

In [60]:
print(optimal_num_boost_round)

29